<div id="wrapper">

  <app-menu></app-menu>
  <div id="content-wrapper">

    <div class="container-fluid">
      <!-- Area -->
      <div class="card mb-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/pacientes">Pacientes</a>
          </li>
          <li class="breadcrumb-item active">Registro de paciente</li>
        </ol>
        <div class="bg-custom-patient">
          <div style="text-align:center " class="header-caption">
            <h2 class="text-white"> Registro de pacientes</h2>
          </div>
        </div>
    <br>
        <div class="row">

          <div class="col-md-4">
              <div class="text-center" style="width: 50%;height: 50%;" style="background-color: rgb(4, 30, 51); color: WHITE; font-size: 70pt">
            
                <div class="display-1" style="color: WHITE; font-size: 90%; width: 100%; text-align: center"> 
                   
                  Pacientes
                 <br>
                  <i class="fas fa-users"></i>
               </div>
               
                  <!-- <img src="assets/images/imagen-pacientes.jpg" class="rounded" name="Image"  
                      style="width: 350px;height: 300px;" > -->
                </div>
          </div>
          <div class="col-md-8">

              <div class="panel panel-default">
                  <div class="panel-heading">{{TitlePage}} Paciente</div>
                  <div class="">

                      <form class="patient-form" #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm)">
                        <div  class="form-row">
                          <div class="form-group col-md-9">
                          </div>
                          <div class="form-group col-md-3">
                              <div>Número de paciente:</div>
                              <input class="form-control" name="PatientNumber" #PatientNumber="ngModel" [(ngModel)]="patientService.selectedPatient.PatientNumber"
                              placeholder="Número de paciente" maxlength="10" required />
                              <div class="validation-error" *ngIf="PatientNumber.invalid && PatientNumber.touched">Este campo es requerido.</div>
                          </div>
                        </div>
                        
                        <div class="form-row">
            
                            <input type="hidden" class="form-control" name="IdPatient" #IdPatient="ngModel" [(ngModel)]="patientService.selectedPatient.IdPatient">
                          
                            <div class="form-group col-md-6">
                              <div>Nombre(s):</div>
                              <input class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="patientService.selectedPatient.FirstName"
                                placeholder="Nombre" maxlength="200" required />
                              <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">Este campo es requerido.</div>
                            </div>
            
                            <div class="form-group col-md-6">
                              <div>Apellido:</div>
                              <input class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="patientService.selectedPatient.LastName" placeholder="Apellido"
                              maxlength="200" required />
                              <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">Este campo es requerido.</div>
                            </div>
            
                          </div>
                          <div class="form-row">
                              <div>Correo electronico:</div>
                            <div class="form-group col-md-12 input-group mb-3">
                   
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">@</span>
                                </div>
                              <input maxlength="200" class="form-control" name="Email" #Email="ngModel" [(ngModel)]="patientService.selectedPatient.Email" placeholder="usuario@dominio.com"
                              />
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <div>Fecha Nacimiento:</div>
                              <input class="form-control" name="BirthDate" type="date" #BirthDate="ngModel" [(ngModel)]="patientService.selectedPatient.BirthDate"> 
                            </div>
                            <div class="form-group col-md-3">
                              <div>Teléfono:</div>
                              <input maxlength="12" class="form-control" name="Phone" #Phone="ngModel" [(ngModel)]="patientService.selectedPatient.Phone" required>
                              <div class="validation-error" *ngIf="Phone.invalid && Phone.touched">Este campo es requerido.</div>
                            </div>
                            <div class="form-group col-md-3">
                              <div>Teléfono2 (Opcional):</div>
                               <input maxlength="12" #Phone2 class="form-control" name="Phone2"  #Phone2="ngModel" [(ngModel)]="patientService.selectedPatient.Phone2">
                           </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-3 demo">
                             
                                <input id="acepto" #Active type="checkbox"  name="Active"  [checked]="activePatient"  (change)="onSavePatientChanged(Active.checked)" >
                                <label for="acepto"><span></span>Activo</label>
                              </div>
                           
                     
                       
                           
                          </div>
                          <div class="class form-row">
                  
                            <div class="class form-group col-md-6">
                              <button type="submit" class="btn btn-lg btn-block btn-info " [disabled]="!patientForm.valid">
                                <i class="fas fa-floppy-o"></i> &nbsp; Guardar</button>
                            </div>
                            <div class="class form-group col-md-6">
                              <button type="button" class="btn btn-lg btn-block btn-danger" (click)=resetForm(patientForm)>
                                <i class="fas fa-repeat"></i> &nbsp;  Limpiar</button>
                            </div>
                          </div>
                        </form>

                  </div>
               </div>

       

          </div>
        </div>

      </div>
    </div>
     <app-footer></app-footer> 
  </div>
</div>