<div id="wrapper">

  <app-menu></app-menu>
  <div id="content-wrapper" style="padding: 0px ">

    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/images/consultorio-medico4.jpg" alt="Consultorio" width="100%" height="400px">
        <div class="carousel-caption">
          <h3>Consultorio</h3>
          <img src="assets/images/medicina general-01_SMALL1.png" alt="Consultorio" height="120px" >
    
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/secretaria-medico2.jpg" alt="Usuarios" width="100%" height="400px">
        <div class="carousel-caption">
          <h3>Usuarios</h3>
          <p>Registrar usuarios y listado de usuarios.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/imagen-pacientes.jpg" alt="Pacientes" width="100%" height="400px">
        <div class="carousel-caption">
          <h3>Pacientes</h3>
          <p>Registrar pacientes y listado de todos los pacientes.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/citas-medicas.jpg" alt="Citas" width="100%" height="400px">
        <div class="carousel-caption">
          <h3>Citas</h3>
          <p>Registrar citas y listado de todas las citas.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/pacientes_normal.jpg" alt="Expediente Clínico" width="100%" height="400px">
        <div class="carousel-caption">
          <h3> Expediente Clínico </h3>
          <p> Datos Personales de un paciente.</p>
        </div>
      </ng-template>
    </ngb-carousel>
    <br>
    <div class="row">
      
        <div class="col-md-4 mb-7">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <span class="u-icon u-icon-danger--air u-icon--xl rounded-circle mb-7">
              <span class="fab fa-accessible-icon u-icon__inner u-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Pacientes</h3>
       
            <p class="mb-md-0">Registro de nuestros Pacientes.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 mb-7">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <span class="u-icon u-icon-primary--air u-icon--xl rounded-circle mb-7">
              <span class="fas fa-calendar-alt u-icon__inner u-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Citas</h3>
            <p class="mb-md-0">Trámite e historial de citas </p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 mb-7">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <span class="u-icon u-icon-success--air u-icon--xl rounded-circle mb-7">
              <span class="fab fa-whmcs u-icon__inner u-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Expedientes</h3>
            <p class="mb-md-0">Información de nuestros Pacientes.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>
       
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 mb-7">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <span class="u-icon u-icon-purple--air u-icon--xl rounded-circle mb-7">
              <span class="fab fas fa-user-md u-icon__inner u-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Usuarios</h3>
       
            <p class="mb-md-0">Registro de usuarios del sistema.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-6 mb-7">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <span class="u-icon u-icon-yellow--air u-icon--xl rounded-circle mb-7">
              <img  alt="Consultorio" height="70px" src="assets/images/logo consultorio-01_small3.png">

            </span>
            <h3 class="h5">Acerca de nosotros</h3>
            <p class="mb-md-0">Consultorio</p>
          </div>
          <!-- End Icon Blocks -->
        </div>
  
      </div>
      <br>
      <br>
      <app-footer></app-footer> 
  </div>
</div>