<div id="wrapper">

  <app-menu></app-menu>
  <div id="content-wrapper">

    <div class="container-fluid">
      <!-- Area -->
      <div class="card mb-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/consultorio">Consultorio</a>
          </li>
          <li class="breadcrumb-item active">Registro</li>
        </ol>
        <div style="text-align:center">
          <h2 class="jumbotron bg-secondary text-white"> Registro de Consultorio</h2>
        </div>
        <div class="row">
          <div class="class col-md-6">
            <span>{{titlePage}}</span>
            <form class="consultory-form" #consultoryForm="ngForm" (ngSubmit)="onSubmit(consultoryForm)">

              <div class="form-row">
                <div class="form-group col-md-12">
                    <input class="form-control" type="hidden" name="IdConsultory" #IdConsultory="ngModel" [(ngModel)]="consultoryService.selectedConsultory.IdConsultory"  />
                  <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="consultoryService.selectedConsultory.Name" placeholder="Nombre"
                    required />
                  <div class="validation-error" *ngIf="Name.invalid && Name.touched">Este campo es requerido.</div>
                </div>

                <div class="form-group col-md-12">
                  <input class="form-control" name="Location" #Location="ngModel" [(ngModel)]="consultoryService.selectedConsultory.Location"
                    placeholder="Ubicación" required />
                  <div class="validation-error" *ngIf="Location.invalid && Location.touched">Este campo es requerido.</div>
                </div>

                <div class="form-group col-md-12">
                  <input class="form-control" name="Phone" #Phone="ngModel" [(ngModel)]="consultoryService.selectedConsultory.Phone" placeholder="Telefono"
                    required />
                  <div class="validation-error" *ngIf="Phone.invalid && Phone.touched">Este campo es requerido.</div>
                </div>
              </div>

              <div class="class form-row">
                <div class="class form-group col-md-8">
                  <button type="submit" class="btn btn-lg btn-block btn-info" [disabled]="!consultoryForm.valid">
                    <i class="fas fa-floppy-o"></i>Guardar</button>
                  <i class="fas fa-save"></i>
                </div>
                <div class="class form-group col-md-4">
                  <button type="button" class="btn btn-lg btn-block btn-secondary" (click)=resetForm(consultoryForm)>
                    <i class="fas fa-repeat"></i>Limpiar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="class col-md-6">
            <table class="table table-sm table-hover table-striped">
              <caption>Lista de consultorios</caption>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Ubicacion</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Acción</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let consultory of consultoryService.ConsultoryList | paginate: {itemsPerPage: 10, currentPage: p}">
                  <td>{{consultory.IdConsultory}}</td>
                  <td>{{consultory.Name}}</td>
                  <td>{{consultory.Location}} </td>
                  <td>{{consultory.Phone}}</td>
                  <td>
                      <button type="button" class="btn btn-secondary btn-sm" (click)="showForEdit(consultory)">Editar</button>
                     
                      <!-- <a  class="btn breadcrumb-item" (click)="showForEdit(consultory)">
                          <i class="fa fa-pencil-square-o"></i>Editar
                         
                          </a> -->
                          <!-- <a class="btn breadcrumb-item" (click)="onDelete(consultory)">
                              <i class="fa fa-pencil-square-o"></i>Eliminar
                          </a> -->
                  </td>
                  <td>
                      <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(consultory)">Eliminar</button>
 
                  </td>
                  
                </tr>
              </tbody>

            </table>
            <pagination-controls (pageChange)="p=$event" ></pagination-controls>
          </div>
        </div>

      </div>
 
    </div>
    <app-footer></app-footer>
  </div>
</div>