@import "~@ng-select/ng-select/themes/default.theme.css";

/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
form.user-form, form.consultory-form, form.patient-form, form.appointment-form {
    background-color: #dbdbdb;
    border-radius: 4px;
    padding: 10px
}

div.validation-error{
    color: red;
    text-align: center;
}

button:hover, a bnt:hover{
    cursor: pointer;
}

.card{
    border: none;
}

.carousel-caption{

    background-color: rgba(0,0,0,0.6);
  }

  .btn-info {
    color: #fff;
    background-color:rgb(4, 30, 51);
    border-color:rgb(4, 30, 51);
    /* border-color: hsl(188, 86%, 16%);*/
}

.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: rgb(4, 30, 51);
    border-color: rgb(4, 30, 51);
}


.btn-warning {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}


.class-active{
    color: green
  }
  .class-inactive{
    color: red
  }
  .class-status-inprogress{
    color: darkcyan
  }

  .col-centered{
    text-align: center;
}