<div id="wrapper">

  <app-menu></app-menu>
  <div id="content-wrapper">

    <div class="container-fluid">
      <!-- Area -->
      <div class="card mb-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/pacientes">Pacientes</a>
          </li>
          <li class="breadcrumb-item active">Lista de pacientes</li>
        </ol>

        <div class="bg-custom-patient">
            <div style="text-align:center " class="header-caption">
              <h2 class="text-white"> Lista de pacientes</h2>
            </div>
          </div>
          <br>
        <div class="class form-row">
            <div class="class form-group col-md-10">
            </div>
            <div class="class form-group col-md-2">
                   <button type="button" class="btn btn-info " style="width:100%" routerLink='/agregar-paciente'>
                    <i class="fas fa-plus-circle"></i> Agregar paciente
                  </button>
            </div>
        </div>
        <span></span>
        <span class=""></span>
        <div class="row">
          <div class="class col-md 12">
            <app-patient-list></app-patient-list>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>