<table class="table table-sm table-hover table-striped">
    <caption>Lista de usuarios</caption>
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre(s)</th>
          <th scope="col">Apellido</th>
          <th scope="col">Puesto</th>
          <th scope="col">Fecha</th>
          <th scope="col">Acción</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of userService.UserList  | paginate: {itemsPerPage: 10, currentPage: p}">
              <td>{{user.IdUser}}</td>
              <td>{{user.FirstName}}</td>
              <td>{{user.LastName}} </td>
              <td>{{user.PositionRol}}</td>
              <td>{{user.Date | date:'mediumDate' }} </td>
              <td>
                  <button type="button" class="btn btn-secondary btn-sm" (click)="onEdit(user)">Editar</button>
                <!-- <a class="btn" (click)="onEdit(user)">
                  <i>Editar</i>
                </a> -->
                <!-- <a  class="btn" (click)="onDelete(user)">
                    <i>Eliminar</i>
                  </a> -->
              </td>
              <td>
                  <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(user)">Eliminar</button>
              </td>
             
            </tr>
      </tbody>
 
</table>
<pagination-controls (pageChange)="p=$event"></pagination-controls>
