<!--    <app-menu></app-menu>
<div class="container">
    <app-users></app-users>
</div>

<div class="mat-app-background basic-container">
    <app-menu></app-menu>
  </div>-->


<nav class="navbar navbar-expand static-top" style="background-color:  #003876;">
    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark static-top "> -->
  
  <div class="col-md-6">
      <span class="" style="color: #d2a936; text-align: left;font-weight: bold;">Consultorio Médico </span>   
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#" style="text-align: right">
        <a class="navbar-brand mr-1 " style="color:beige;display: block;FONT-SIZE: 8PT;" routerLink="/home"></a>
        <img src="assets/images/logo consultorio-01_small3.png" alt="Consultorio" height="40px">
      </button>
  </div>
  <div class="col-md-6" style="text-align: right;">
      <img alt="Consultorio" src="assets/images/medicina general-01_SMALL1_header2.png" style="border: solid 2px #d2a936;    padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      padding-left: 5px;">
    
  </div>

  <!-- Navbar Search 
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." aria-label="Busqueda" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
-->
</nav>


<router-outlet>
            
</router-outlet>
<!--
<div id="wrapper">

 <app-menu></app-menu>

  <div id="content-wrapper">

    <router-outlet>
            
    </router-outlet>

  


  </div>

   


</div>
 </#wrapper -->
