<div id="wrapper">

  <app-menu></app-menu>
  <div id="content-wrapper">

    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink=''>Inicio</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
      </ol>


      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fab fa-accessible-icon"></i>
              </div>
              <div class="mr-5">
                  <span class="badge badge-light"> {{totals.TotalPatients}} </span>
                Pacientes</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/pacientes">
              <span class="float-left">Ver Detalles</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-list"></i>
              </div>
              <div class="mr-5">
                  <span class="badge badge-light"> {{totals.TotalAppointments}} </span>
                Citas</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/citas">
              <span class="float-left">Ver Detalles</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fas fa-user-md"></i>
              </div>
              <div class="mr-5">
                  <span class="badge badge-light"> {{totals.TotalUsers}} </span>
              Usuarios</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" routerLink="/usuarios">
              <span class="float-left">Ver Detalles</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-hospital-alt"></i>
              </div>
              <div class="mr-5">
                  <span class="badge badge-light"> {{totals.TotalAppointments}} </span>
                Consultorio</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div>
        <app-appointments></app-appointments>
        
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</div>