<div id="wrapper">

  <app-menu></app-menu>
  <div id="content-wrapper">

    <div class="container-fluid">
      <!-- Area -->
      <div class="card mb-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/lista-citas">Citas</a>
          </li>
          <li class="breadcrumb-item active">Lista de citas</li>
        </ol>

        <div class="bg-custom-appoints">
            <div style="text-align:center " class="header-caption">
              <h2 class="text-white"> Registro de citas</h2>
            </div>
          </div>
          <br>
        <div class="row">

          <div class="col-md-4">

            <!-- <div class="text-center" style="width: 50%;height: 50%;">
              <img src="assets/images/citas-medicas.jpg" class="rounded" name="Image" style="width: 350px;height: 300px;">
            </div> -->
            <div class="text-center" style="width: 50%;height: 50%;" style="background-color: rgb(40, 146, 122); color: WHITE; font-size: 70pt">
            
                <div class="display-1" style="color: WHITE; font-size: 90%; width: 100%; text-align: center"> 
                   
                  Citas
                 <br>
                  <i class="far fa-calendar-alt"></i>
               </div>
               
                  <!-- <img src="assets/images/imagen-pacientes.jpg" class="rounded" name="Image"  
                      style="width: 350px;height: 300px;" > -->
                </div>
            
          </div>
          <div class="col-md-8">

              <div class="panel panel-default">
                  <div class="panel-heading">{{TitlePage}}  Cita</div>
                  <div class="">
                      <form class="appointment-form" #appointmentForm="ngForm" (ngSubmit)="onSubmit(appointmentForm)">
                          <div class="form-row">
                            <input type="hidden" class="form-control" name="IdAppointment" #IdAppointment="ngModel" [(ngModel)]="appointmentService.selectedAppointment.IdAppointment">
            
                            <div class="form-group col-md-5">
                              <div>Paciente:</div>
                              <!-- <select class="form-control" name="IdPatient" #IdPatient="ngModel" [(ngModel)]="appointmentService.selectedAppointment.IdPatient"
                                (ngModelChange)='onOptionsSelected(appointmentService.selectedAppointment.IdPatient)' placeholder="Paciente"
                                required>
                                <option *ngFor="let j of patientService.PatientActiveList" [value]="j.IdPatient">{{ j.FirstName + ' '+ j.LastName }}</option>
                              </select> -->

                              <ng-select 
                              name="IdPatient" #IdPatient="ngModel" 
                                [items]="patientService.PatientActiveList"
                                bindLabel="NameSearch"
                                bindValue="IdPatient"
                                [multiple]="false"
                                placeholder="Seleccionar paciente"
                                [(ngModel)]="appointmentService.selectedAppointment.IdPatient"
                                (change)="onChangePatient($event)"
                                >
                              </ng-select>
                            </div>
                            <!-- <div class="form-group col-md-1">
                                
                                &nbsp;
                              <button ype="button" class="form-control btn btn-lg btn-block btn-primary btn-sm" >
                                <i class="fas fa-search"></i>
                              </button>
                            </div> -->
                            <div class="form-group col-md-4">
                              <div>Nombre:</div>
                              <input class="form-control" name="PatientName" #PatientName="ngModel" [(ngModel)]="PatientNameText"
                                placeholder="Paciente" required disabled />
                              <div class="validation-error" *ngIf="PatientName.invalid && PatientName.touched">Este campo es requerido.</div>
                            </div>
            
                            <div class="form-group col-md-3">
                              <div>Tel:</div>
                              <input class="form-control" name="PatientPhone" #PatientPhone="ngModel" [(ngModel)]="PatientPhoneText"
                                placeholder="Telefono" disabled />
                              <div class="validation-error" *ngIf="PatientPhone.invalid && PatientPhone.touched">Este campo es requerido.</div>
                            </div>
            
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-12">
                              <div>Dr:</div>
                              <select class="form-control" name="IdUser" #IdPatient="ngModel" [(ngModel)]="appointmentService.selectedAppointment.IdUser"
                                (ngModelChange)='onOptionsSelected(appointmentService.selectedAppointment.IdUser)' placeholder="Paciente"
                                required>
                                <option *ngFor="let j of userService.UserDrList" [value]="j.IdUser">{{ j.FirstName + ' '+ j.LastName }}</option>
                              </select>
            
                            </div>
            
            
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              Fecha
                              <input class="form-control" name="Date" type="date" #Date="ngModel" [(ngModel)]="appointmentService.selectedAppointment.Date">
                            </div>
                            <div class="form-group col-md-6">
                              Hora
                              <input class="form-control" name="Time" type="time" #Time="ngModel" [(ngModel)]="appointmentService.selectedAppointment.Time">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-12">
                              Estatus
                              <div class="radio">
                                <label>
                                    <input type="radio" name="Status" value="0"  [(ngModel)]="appointmentService.selectedAppointment.Status">
                                    Cancelada
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="Status" value="1"   [(ngModel)]="appointmentService.selectedAppointment.Status">
                                    Activa
                                </label>
                            </div>
                            </div>
                          </div>
                          <div class="class form-row">
                      
                            <div class="class form-group col-md-6">
                              <button type="submit" class="btn btn-lg btn-block btn-info " [disabled]="!appointmentForm.valid">
                                <i class="fas fa-floppy-o">&nbsp;</i>Guardar</button>
                            </div>
                            <div class="class form-group col-md-6">
                              <button type="button" class="btn btn-lg btn-block btn-danger " (click)=resetForm(appointmentForm)>
                                <i class="fas fa-repeat">&nbsp;</i>Limpiar</button>
                            </div>
                          </div>
                        </form>
            

                  </div>
              </div>
          
          </div>
        </div>

      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>