
 html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    height: 100%;
  }
  
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #wrapper #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 80px;
  }
  
  body.fixed-nav #content-wrapper {
    margin-top: 56px;
    padding-left: 90px;
  }
  
  body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 0;
  }
  
  @media (min-width: 768px) {
    body.fixed-nav #content-wrapper {
      padding-left: 225px;
    }
    body.fixed-nav.sidebar-toggled #content-wrapper {
      padding-left: 90px;
    }
  }
  
.bg-custom-appoints{
  background-image: url('/assets/images/citas-medicas.jpg') !important;
  width:1024;
  height:170px;
}
.header-caption{
  background-color: rgba(0,0,0,0.6);
  display: grid;
  margin: auto;
  text-align: center;
  margin-top: 11%;
}

.panel-default>.panel-heading {
  color:  #fff;
  background-color: rgb(4, 30, 51);
  border-color: #ddd;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-body {
  padding: 15px;
}