<div id="wrapper">

  <app-menu></app-menu>
  <div id="content-wrapper">

    <div class="container-fluid">
      <!-- Area -->
      <div class="card mb-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/usuarios">Usuario</a>
          </li>
          <li class="breadcrumb-item active">Registro</li>
        </ol>
        <!-- <div style="text-align:center">
          <h2 class="jumbotron bg-secondary text-white"> Registro de Usuarios</h2>
        </div> -->
        <div class="bg-custom-user">
            <div style="text-align:center " class="header-caption">
              <h2 class="text-white"> Registro de usuarios</h2>
            </div>
          </div>
        <br>
        <div class="row">
          <div class="class col-md 6">

              <div class="panel panel-default">
                <div class="panel-heading"> {{titlePage}}</div>
                  <div class="">
                    <form class="user-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                      <input type="hidden" name="IdUser" #IdUser="ngModel" [(ngModel)]="userService.selectedUser.IdUser"  >
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <input class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="userService.selectedUser.FirstName" placeholder="Nombre"
                                  required />
                              <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">Este campo es requerido.</div>
                          </div>
                  
                          <div class="form-group col-md-6">
                              <input class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="userService.selectedUser.LastName" placeholder="Apellido"
                                  required />
                              <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">Este campo es requerido.</div>
                          </div>
                  
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-12">
                              <select class="form-control" name="IdPosition" #IdPosition="ngModel" [(ngModel)]="userService.selectedUser.IdPosition" 
                              (ngModelChange)='onOptionsSelected(userService.selectedUser.IdPosition)'
                              placeholder="Puesto" required>
                                  <option *ngFor="let j of userService.PositionList" [value]="j.IdPosition">{{  j.PositionRol  }}</option>
                              </select>
                          </div>
                      </div>
                      <div class="class form-row">
                          <div class="class form-group col-md-8">
                              <button type="submit" class="btn btn-lg btn-block btn-info" [disabled]="!userForm.valid">
                                  <i class="fas fa-floppy-o">&nbsp;</i>Guardar</button>
                          </div>
                          <div class="class form-group col-md-4">
                              <button type="button" class="btn btn-lg btn-block btn-danger" (click)=resetForm(userForm)>
                                  <i class="fas fa-repeat">&nbsp;</i>Limpiar</button>
                          </div>
                      </div>
                  </form>
                  </div>
                </div>

          </div>
          <div class="class col-md 6">
            <table class="table table-sm table-hover table-striped">
              <caption>Lista de usuarios</caption>
              <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre(s)</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acción</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userService.UserList  | paginate: {itemsPerPage: 10, currentPage: p}">
                        <td>{{user.IdUser}}</td>
                        <td>{{user.FirstName}}</td>
                        <td>{{user.LastName}} </td>
                        <td>{{user.PositionRol}}</td>
                        <td>{{user.Date | date:'mediumDate' }} </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" (click)="showForEdit(user)"><i class="fa fa-pencil-square-o"></i></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(user)"><i class="far fa-trash-alt"></i></button>
                        </td>
                       
                      </tr>
                </tbody>
           
          </table>
          <pagination-controls (pageChange)="p=$event"></pagination-controls>
          
          </div>
        </div>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</div>